@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

.login-container {
    background: linear-gradient(145deg, #f7f3ef, #dfd9d4);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #7a7a7a;
}

.login-form label {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    color: #7a7a7a;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: inset 5px 5px 10px #d1c8c1, inset -5px -5px 10px #fff;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #7a7a7a;
}

.login-form button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
}



.login-form button:active {
    transform: scale(0.98); /* Efeito de clique */
}


.create-account {
    margin-top: 20px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}