body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #f4f4f4;
    background:linear-gradient(to bottom, black,rgb(98, 98, 207) );
    
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: goldenrod; 
}

h1 a {
    text-decoration: none;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}



footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}